<div class="header ps-5 pe-5">
  <div class="row py-2 d-flex justify-content-center">
    <div class="col-3">
      <img src="https://cdn.shopify.com/s/files/1/0765/4817/8225/files/Logo.png?v=1687163152" alt="">
    </div>
    <div class="col-5 d-flex align-items-center justify-content-evenly middle-text">
      <a href="#" class="btn-prime btn-green">Subscriptions</a>
      <a class="haver" href="#">In-Person</a>
      <a class="haver" href="#">Educators</a>
      <a class="haver" href="#">About</a>
    </div>

    <div class="col-3 d-flex align-items-center justify-content-end login">
      <a href="#">
        <img class="pe-5 r" src="../assets/login.png" alt="">
      </a>
      <a href="#">
        <img class="pe-5 " src="../assets/cart.png" alt="">
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.header.settings.header_layout.label"
    },
    {
      "type": "checkbox",
      "id": "fluid_header",
      "label": "t:sections.header.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "color",
      "id": "header_bg_color",
      "label": "t:sections.header.settings.header_bg_color.label",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": false,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_logo.label"
    },
    {
      "type": "textarea",
      "id": "logo_svg",
      "label": "t:sections.header.settings.logo_svg.label",
      "info": "t:sections.header.settings.logo_svg.info"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_stlying.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_menu.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ],
  "blocks": [
    {
      "type": "megamenu",
      "name": "MegaMenu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu Title",
          "info": "Use Exact string as header"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Use 480x480 sized image."
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
