<div class="position-relative">
  <div class="row justify-content-end mt-5 mb-5">
    <div class="col-8 bekra">
      <img
        src="https://cdn.shopify.com/s/files/1/0765/4817/8225/files/Mask_Group_5_2x_7dd98382-4c50-42ee-89b4-51d14c05bcf7.png?v=1687528556"
        alt=""
      >
    </div>
    <div class="col-5 pt-1 me-5">
      <h4 class="background-text">
        {{ section.settings.title }}
      </h4>
      <p class="mt-2 mb-5">
        {{ section.settings.text }}
      </p>
      <a class=" btn-prime {{ section.settings.button }} mt-5" href="">Meet The Team</a>
    </div>
    <div class="col-6 overflow-hidden">
      <div class="swiper2">
        <div class="swiper-wrapper">
          {% for i in (0..9) %}
            <div class="swiper-slide">
              <img src="{{ section.settings.image | img_url: '390x350' }}" alt="">
            </div>
          {% endfor %}
        </div>

        <div class="arrow-r">
          <img
            src="../assets/arroww.png"
            alt=""
            class="arrow-right-v2"
          >
        </div>
        <div class="arrow-l">
          <img
            src="../assets/arroww.png"
            alt=""
            class="arrow-left-v2"
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Second Swiper Section",
  "tag": "section",
  "class": "index-swiper-meet-us",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Main Text",
      "default": "Exercitationem et perspiciatis voluptatum, hic, quod libero sapiente rem itaque numquam a soluta similique reprehenderit provident ab modi aliquam doloribus repellat aut."
    },
    {
      "type": "text",
      "id": "text",
      "label": "Description",
      "default": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quas quis error dolorem? Sequi cupiditate eligendi libero perferendis cumque accusantium. Quam labore et aliquam repellendus!"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Swiper photo"
    },
    {
      "type": "select",
      "id": "button",
      "label": "Button Style",
      "options": [
        {
          "label": "Green",
          "value": "btn-green"
        },
        {
          "label": "Red",
          "value": "btn-red"
        },
        {
          "label": "Yellow",
          "value": "btn-yellow"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Meet Us Swiper",
      "category": "Content"
    }
  ]
}
{% endschema %}
