<div class="container"></div>

{% schema %}
{
  "name": "Second Swiper Section",
  "tag": "section",
  "class": "index-swiper-meet-us",
  "settings": [],
  "presets": [
    {
      "name": "Meet Us Swiper",
      "category": "Content"
    }
  ]
}
{% endschema %}
