<div class="section-wrapper position-relative">
  <div class="hero-background position-absolute">
    <img class="" src="../assets/heropicture.png" alt="">
  </div>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto mx-md-0">
        <div class="text-wrapper text-center text-md-start py-5 ps-0 ps-md-5">
          <h3>Inspiring the Innovators of Tomorrow</h3>
          <p>Three projects each month with full length instructional videos!</p>
          <a href="#" class="btn-prime py-3 px-4">Subscribe Now!</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "My Hero Section",
  "tag": "section",
  "class": "index-my-hero-section",
  "settings": [],
  "presets": [
    {
      "name": "My Hero Section",
      "category": "Content"
    }
  ]
}
{% endschema %}
