<div class="container"></div>

{% schema %}
{
  "name": "Our Team Section",
  "tag": "section",
  "class": "index-meet-our-team",
  "settings": [],
  "presets": [
    {
      "name": "Meet the Team",
      "category": "Content"
    }
  ]
}
{% endschema %}
