<div class="evo-novi-naslov">
  <div class="background-image">
    <img src="../assets/Robot Garage 16x9-29 (1)@2x.png" style="width: 100%;">
    <p>DA LI OVO POSTOJI</p>
  </div>
</div>
{% schema %}
{
  "name": " My hero section",
  "tag": "section",
  "class": "my-hero-section",
  "settings": [
    {
      "type": "text",
      "id": "hero-paragraph",
      "label": "ovo ce biti naslov"
    }
  ]
}
{% endschema %}
